<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671660766414-f6nm83k762kd23si9ghpgjeimubhl3pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671660766414-f6nm83k762kd23si9ghpgjeimubhl3pt</string>
	<key>API_KEY</key>
	<string>AIzaSyCbvEc2ydy6oDVvRK2xjkUPXRPySPpxOrk</string>
	<key>GCM_SENDER_ID</key>
	<string>671660766414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemyLessons</string>
	<key>PROJECT_ID</key>
	<string>udemy-project-7bedb</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-project-7bedb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671660766414:ios:df2acd2b736813341a8c9f</string>
	<key>DATABASE_URL</key>
	<string>https://udemy-project-7bedb-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>